<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxd.tinyBlogServer.dao.TagMapper">

    <resultMap id="tagResMap" type="com.fxd.tinyBlogServer.pojo.Type">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="blogInfos" javaType="ArrayList" ofType="com.fxd.tinyBlogServer.pojo.inter.BlogInfo"
                    column="id" select="getBlogInfoByTagId"/>
    </resultMap>

    <!-- 通过tagId查询到对应的博客信息列表 -->
    <select id="getBlogInfoByTagId" resultType="com.fxd.tinyBlogServer.pojo.inter.BlogInfo">
        select * from t_blog where id in (select blog_id from t_blog_tag where tag_id = #{id}) order by create_time desc;
    </select>

    <select id="getAllTags" resultMap="tagResMap">
        select * from t_tag;
    </select>

    <insert id="addTag">
        insert into t_tag(name) values(#{name});
    </insert>

    <delete id="deleteTag">
        delete from t_tag where id = #{id};
    </delete>
    <select id="getTagByName" resultType="com.fxd.tinyBlogServer.pojo.Tag">
        select * from t_tag where name = #{name};
    </select>
</mapper>