<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxd.tinyBlogServer.dao.TypeMapper">

    <select id="getAllTypes" resultType="com.fxd.tinyBlogServer.pojo.Type">
        select * from t_type;
    </select>

    <insert id="addType">
        insert into t_type(name) values(#{name});
    </insert>

    <delete id="deleteType">
        delete from t_type where id = #{id}
    </delete>
    <select id="getTypeByName" resultType="com.fxd.tinyBlogServer.pojo.Type">
        select * from t_type where name = #{name};
    </select>
</mapper>